<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Table Maker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="toolbar.css">
    <script src="jquery-3.1.0.min.js"></script>
    <script src="vue.min.js"></script>
    <script src="tools.js"></script>
    <script src="main.js"></script>
  </head>
  <body id="app" onload="main()" @mousemove="mousemove($event)" @click="mouse_reset">
    <ul id="toolbar">
      <li v-for="tool in tools" @click.stop="select_tool(tool)">
        <svg viewbox="0 0 60 40" width="60" height="40">
          <partial :name="tool.id + '-toolbar'"></partial>
        </svg>
        <div>{{ tool.description }}</div>
      </li>
      <li id="export-json"><div>Export to JSON</div></li>
      <li id="export-rst"><div>Export to RST</div></li>
      <li id="import-json"><div>Import from JSON</div></li>
    </ul>
    <div id="workspace">
      <table>
        <tbody id="tbody">
          <tr>
            <td v-for="i in table[0].length + 2"></td>
            <td @click.stop="add_col"></td>
          </tr>
          <tr>
            <td v-for="i in table[0].length + 3"></td>
          </tr>
          <tr v-for="row in table">
            <td></td><td></td>
            <td v-for="cell in row" @click.stop="click_cell(cell)">
              <textarea v-if="cell.editing" v-model="cell.content"
                        v-focus></textarea>
              <div v-else v-bind:class="{'empty-prompt': show_empty}">{{ cell.content }}</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td @click.stop="add_row"></td>
            <td v-for="i in table[0].length + 2"></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div id="output"></div>
    </div>
    <div id="mouse-icon">
      <svg v-for="tool in tools" v-show="mouse_tool == tool.id" viewbox="0 0 60 40" width="30" height="20">
        {{{ tool.icon_mouse }}}
      </svg>
    </div>
  </body>
</html>
