<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Table Maker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="toolbar.css">
    <script src="jquery-3.1.0.min.js"></script>
    <script src="vue.min.js"></script>
    <script src="tools.js"></script>
    <script src="main.js"></script>
  </head>
  <body id="app" onload="main()" @mousemove="mousemove($event)" @click="mouse_reset">
    <ul id="toolbar">
      <li v-for="tool in tools" @click.stop="select_tool(tool)">
        <svg viewbox="0 0 60 40" width="60" height="40">
          <partial :name="tool.id + '-toolbar'"></partial>
        </svg>
        <span class="tool-prompt description" v-if="!tool.options">{{ tool.description }}</span>
        <template v-else>
          <span class="tool-prompt title">{{ tool.description }}</span>
          <div class="tool-prompt menu">
            <table>
              <tbody>
                <tr v-for="options_row in tool.options">
                  <td v-for="tool_option in options_row" class="tool-option"
                      @click.stop="select_tool(tool, tool_option.value)">
                    <partial :name="tool.id + '-option-' + tool_option.value"></partial>
                    <span class="option-prompt">{{ tool_option.description }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </template>
      </li>
    </ul>
    <div id="workspace">
      <table>
        <tbody id="tbody">
          <tr>
            <td @click.stop="click_all">
              {{ mouse_tool ? '*' : table.length + '\\' + table[0].length }}
            </td>
            <td @click.stop="prepend_col">+</td>
            <td v-for="col in table[0].length"
                @click.stop="click_col(col)">
              {{ mouse_tool ? 'v' : (table[0].length == 1 ? '' : 'x') }}
            </td>
            <td @click.stop="append_col">+</td>
          </tr>
          <tr>
            <td @click.stop="prepend_row">+</td>
            <td v-for="i in table[0].length + 2"></td>
          </tr>
          <tr v-for="row in table">
            <td @click.stop="click_row($index)">
              {{ mouse_tool ? '>' : (table.length == 1 ? '' : 'x') }}
            </td>
            <td></td>
            <td v-for="cell in row" @click.stop="click_cell(cell)">
              <textarea v-if="cell.editing" v-model="cell.text"
                        :class="{'bold': cell.bold, 'italic': cell.italic}"
                        v-bind:style="{'color': cell.color, 'background': cell.background}"
                        v-focus></textarea>
              <div v-else
                   :class="{'bold': cell.bold, 'empty': show_empty, 'italic': cell.italic}"
                   v-bind:style="{'color': cell.color, 'background': cell.background}"
              >{{ cell.text == '' ? (show_empty ? '-' : '') : cell.text }}</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td @click.stop="append_row">+</td>
            <td v-for="i in table[0].length + 2"></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div id="output"></div>
    </div>
    <div id="mouse-icon">
      <svg v-for="tool in tools" v-show="mouse_tool.id == tool.id" viewbox="0 0 60 40" width="30" height="20">
        <partial :name="tool.id + '-mouse'"></partial>
      </svg>
    </div>
  </body>
</html>
