ul#toolbar {
    float: left;
    margin: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px;
    font-size:20px;
    list-style-type: none;
    border: solid 1px black;
    border-radius: 8px;
}

ul#toolbar > li {
    height: 40px;
    min-width: 60px;
    border: solid 1px transparent;
    background-repeat: no-repeat;
    position: relative;
}

ul#toolbar > li:hover {
    border: solid 1px black;
    cursor: pointer;
}

ul#toolbar > li > div {
    display: none;
}

ul#toolbar > li:hover > div {
    display: block;
    position: absolute;
    left: 65px;
    background: white;
    border: solid 1px black;
    padding: 2px;
    box-shadow: 2px 2px 2px;
}

#toggle-empty {
    background-image: url(./toggle-empty.svg);
}

#toggle-bold {
    background-image: url(./toggle-bold.svg);
}

#export-json {
    background-image: url(./export-json.svg);
}

#export-rst {
    background-image: url(./export-rst.svg);
}

#import-json {
    background-image: url(./import-json.svg);
}
