ul#toolbar {
    float: left;
    height: 100%;
    margin: 0;
    padding: 8px;
    width: 60px;
    font-size:20px;
    list-style-type: none;
    border-right: solid 1px black;
}

ul#toolbar > li {
    height: 40px;
    min-width: 60px;
    border: solid 1px transparent;
    background-repeat: no-repeat;
    position: relative;
}

ul#toolbar > li:hover {
    border: solid 1px black;
    cursor: pointer;
}

ul#toolbar > li > .menu,
ul#toolbar > li > .tool-prompt {
    display: none;
    position: absolute;
    top: 0px;
    background: white;
    border: solid 1px black;
    padding: 2px;
    box-shadow: 2px 2px 2px;
    white-space: nowrap;
}

ul#toolbar > li:hover > .tool-prompt {
    display: block;
}

ul#toolbar > li:hover > .description {
    left: 65px;
}

ul#toolbar > li:hover > .menu {
    left: 61px;
}

ul#toolbar > li:hover > .title {
    top: -30px;
    left: 61px;
}

ul#toolbar > li:hover > .menu > table > tbody > tr > td.tool-option {
    border: solid 1px transparent;
}

ul#toolbar > li:hover > .menu > table > tbody > tr > td.tool-option:hover {
    border: solid 1px black;
    cursor: pointer;
}

.param-prompt {
    vertical-align: top;
}

#toggle-empty {
    background-image: url(./toggle-empty.svg);
}

#toggle-bold {
    background-image: url(./toggle-bold.svg);
}

#export-json {
    background-image: url(./export-json.svg);
}

#export-rst {
    background-image: url(./export-rst.svg);
}

#import-json {
    background-image: url(./import-json.svg);
}
