#toolbar {
    float: left;
    margin: 8px;
    font-size:20px;
}

#toolbar > ul {
    list-style-type: none;
    padding: 8px;
    border: solid 1px black;
    border-radius: 8px;
}

#toolbar > ul > li {
    height: 40px;
    min-width: 60px;
    border: solid 1px transparent;
    background-repeat: no-repeat;
    position: relative;
}

#toolbar > ul > li:hover {
    border: solid 1px black;
    cursor: pointer;
}

#toolbar > ul > li:hover::after {
    position: absolute;
    left: 65px;
    content: attr(data-tip);
    background: white;
    border: solid 1px black;
    padding: 2px;
    box-shadow: 2px 2px 2px;
}

#toggle-empty {
    background-image: url(./toggle-empty.svg);
}

#export-json {
    background-image: url(./export-json.svg);
}

#export-rst {
    background-image: url(./export-rst.svg);
}

#import-json {
    background-image: url(./import-json.svg);
}
